extends layouts/login_layout.pug 
block content
  .loginContainer 
    h1 Register
    p.errormessage #{errorMessage}
    form#registerForm(action="" method="post" onsubmit="event.preventDefault(); validateForm();") 
      input(type="text" name="firstName" placeholder="First name" value=firstName required="")
      input(type="text" name="lastName" placeholder="Last name" value=lastName required="")
      input(type="text" name="userName" placeholder="User name" value=userName required="")
      input(type="email" name="email" placeholder="Email" value=email required="")
      input#password(type="password" name="password" placeholder="Password" required="")
      input#passwordConf(type="password" name="passwordConf" placeholder="Confirm Password" required="")
      input(type="submit" value="Register")
    a(href="/login") Already have an account ? Login here.

    script.
      var password = document.getElementById("password");
      var passwordConf = document.getElementById("passwordConf");

      var registerForm = document.getElementById("registerForm");

      function validateForm(){
        if(password.value !== passwordConf.value) {
          alert("Invalid form. Please correct and try again.")
        } else {
          registerForm.submit();
        }
      }
